---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import RecentFeed from '../components/RecentFeed.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <RecentFeed />
    <ContactCTA />
  </main>
  <Footer />
</Layout>
